.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Sotto la Navbar che ha z-index 3000 */
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

::ng-deep .leaflet-custom-popup {
  .leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }

  .leaflet-popup-content {
    margin: 0;
    width: 350px !important;
  }

  .leaflet-popup-tip {
    background: white; /* Il triangolino sotto */
  }

  /* Lo stile interno che hai scritto tu */
  .custom-popup {
    display: flex;
    padding: 15px;
    gap: 15px;
    
    .popup-img {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      object-fit: cover;
    }

    h3 { margin: 0; font-size: 1.1rem; color: #333; }
    p { font-size: 0.85rem; color: #666; }

    .popup-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .view-btn {
        background: white;
        border: 1px solid #eee;
        padding: 5px 15px;
        border-radius: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

/* Stile del marker a forma di gatto */
.custom-cat-icon {
  .cat-marker {
    font-size: 30px;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
    cursor: pointer;
  }
}

.fab-add-cat {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 65px;
  height: 65px;

  background-color: #f0a24e;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2000;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  transition: transform 0.2, background-color 0.2s;

  &:hover{
    background-color: #e0923e;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }

  .plus-icon{
    font-size: 35px;
    font-weight: 300;
    line-height: 0;
    margin-top: -4px;
  }

  ::ng-deep .markdown-body {
  p {
    margin: 0;
  }
  strong {
    color: #333;
    font-weight: 600;
  }
  em {
    color: #555;
  }
}
}

